<div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">

        <h2>Year Wise Leave Details - {{CurrentYear}}</h2>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">

        <div id="Barchart" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px"></div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">

        <h2>Month Wise Leave Details - {{SelectedMonth}}</h2>
    </div>
    <div fxLayout="row" item-width="40px" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">


        <mat-form-field class="example-full-width">
            <mat-select [(value)]="SelectedMonth" placeholder="" (selectionChange)="selectMonth()" [(ngModel)]="SelectedMonth">
                <mat-option *ngFor="let Month of Months" [value]="Month.value">
                    {{ Month.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">

        <div id="MonthBarchart" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px"></div>

    </div>
</div>