<!--<app-login></app-login> 
 <app-leave-entry></app-leave-entry>
<app-empregistration></app-empregistration> -->
<!-- <link href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.25.2/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.1/dist/flatpickr.css" rel="stylesheet">
<mat-card [class]="theme">
    <!-- <ngx-spinner></ngx-spinner> -->
    <router-outlet></router-outlet>
    <!-- <app-management-dashboard></app-management-dashboard> -->
</mat-card>

<ngx-spinner
  bdColor = "transparent"
  size="medium"
  color="#80c343"
  type="ball-square-clockwise-spin">
</ngx-spinner>